<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Helio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Base imports -->
    <link href="/css/favicons/helio-favicon-32x32.png" rel="shortcut icon" type="image/png">
    <script src="/js/jquery/jquery-3.4.0.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src="/js/dashboard-vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    <!-- Vue tables -->
   <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>




  </head>
  <body>
    <!-- Headbar + Sidebar -->
    <div id="app">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/img/favicon_io/favicon-32x32.png" alt="Helio logo" style="margin-top:5px;"/>
                </a>
            </div>
            <!-- Sidebar -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a  data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-users"></i> Access <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-1" class="collapse">
                            <li>
                                <a href="#" v-on:click="relativeRoute='account'"><i class="fa fa-angle-double-right"></i> Account</a></li>
                           <!-- <li><a href="#"><i class="fa fa-angle-double-right"></i> API Tokens</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Users</a></li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-eye"></i> Views <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-2" class="collapse">
                            <li><a href="#" v-on:click="relativeRoute='dviews'"><i class="fa fa-angle-double-right"></i> Dynamic views</a></li>
                            <!--<li><a href="#"><i class="fa fa-angle-double-right"></i> Restricted views</a></li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-3" v-on:click="relativeRoute='validation-gen'"><i class="fa fa-fw fa-wrench"></i> Data Validation <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                       <!-- <ul id="submenu-3" class="collapse">
                            <li><a href="#" v-on:click="relativeRoute='validation-gen'"><i class="fa fa-angle-double-right"></i> SHACL shapes Generation</a></li>
                            <li><a href="#" v-on:click="relativeRoute='validation-load'"><i class="fa fa-angle-double-right"></i> Load SHACL shapes</a></li>
                            <li><a href="#" v-on:click="relativeRoute='validation-reports'"><i class="fa fa-angle-double-right"></i> Validation reports</a></li>
                        </ul> -->
                    </li>
                    
                </ul>
            </div>
        </nav>
         <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid" >
                    <home-tmp :username="username" v-show="relativeRoute === 'home'"></home-tmp>
                    <account-tmp :username="username" v-show="relativeRoute === 'account'"></account-tmp>
                    <dviews-tmp :views="views" v-show="relativeRoute === 'dviews'"></dviews-tmp>
                    <validation-gen-tmp :username="username" v-show="relativeRoute === 'validation-gen'"></validation-gen-tmp>
                    <!--<validation-load-tmp :username="username" v-show="relativeRoute === 'validation-load'"></validation-load-tmp>
                    <validation-reports-tmp :username="username" v-show="relativeRoute === 'validation-reports'"></validation-reports-tmp>-->
                    <!-- Resource tables -->
            </div>
            
        </div>
        <!-- /#wrapper -->
    </div>
    </div>
  </body>

   <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                username : "", // variable with backend's data
                relativeRoute : "home",
                shapes : "",
                views : []
            },
            components: {
              'home-tmp': httpVueLoader('/css/html/home.vue'),
              'account-tmp': httpVueLoader('/css/html/account.vue'),
              'dviews-tmp': httpVueLoader('/css/html/dviews.vue'),
              'validation-gen-tmp': httpVueLoader('/css/html/validation.vue'),
              'validation-load-tmp': httpVueLoader('/css/html/validation.vue'),
              'validation-reports-tmp': httpVueLoader('/css/html/validation.vue')
            }
        });

        app.$watch('views', function (newValue, oldValue) {
          loadViews();
        })
        $.ajax({
            type : 'GET',
            url: "/helio-api/account",
            success: function(data) {
                app.username = data.username;
            }
        });
        function loadViews(){
            $.ajax({
                type : 'GET',
                url: "/helio-api/views",
                success: function(data) {
                    app.views = data.views;
                }
            });
        }
        loadViews();
       
   </script>
   

</html>
